@import 'tailwindcss';

@theme {
  @keyframes pulse {
    50% {
      opacity: '0.3'
    }
  }
}

/*! purgecss start ignore */
@import './docsearch.css' layer(utilities);
@import './prism.css' layer(utilities);

@config '../../tailwind.config.ts';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-zinc-200, currentColor);
  }
}

/*! purgecss end ignore */

#__next {
  min-height: 100%;
}

.changing-theme,
.changing-theme * {
  transition: none !important;
}

.step-content .card {
  @apply mt-4;
}

.blutui-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: hsla(0, 0%, 45%, .4) transparent;
  scrollbar-gutter: stable;
}

.blutui-scrollbar::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.375rem;
}

.blutui-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.blutui-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.blutui-scrollbar:hover::-webkit-scrollbar-thumb {
  --tw-shadow-color: rgb(115 115 115 / 0.2);
  --tw-shadow: var(--tw-shadow-colored);
  border: 3px solid transparent;
  background-color: var(--tw-shadow-color);
  background-clip: content-box;
}

.blutui-scrollbar:hover::-webkit-scrollbar-thumb:hover {
  --tw-shadow-color: rgb(115 115 115 / 0.4);
  --tw-shadow: var(--tw-shadow-colored);
}

@media (max-width: 767px) {
  .blutui-scrollbar {
    scrollbar-gutter: auto;
  }
}
