@tailwind base;
@tailwind components;
@tailwind utilities;

/*! purgecss start ignore */
@import 'docsearch.css';
@import 'prism.css';
/*! purgecss end ignore */

#__next {
  min-height: 100%;
}

.card + .card {
  margin-top: 1.25rem;
}

.step-content .card {
  @apply mt-4;
}

.blutui-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: hsla(0, 0%, 45%, .4) transparent;
  scrollbar-gutter: stable;
}

.blutui-scrollbar::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.375rem;
}

.blutui-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.blutui-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.blutui-scrollbar:hover::-webkit-scrollbar-thumb {
  --tw-shadow-color: rgb(115 115 115 / 0.2);
  --tw-shadow: var(--tw-shadow-colored);
  border: 3px solid transparent;
  background-color: var(--tw-shadow-color);
  background-clip: content-box;
}

.blutui-scrollbar:hover::-webkit-scrollbar-thumb:hover {
  --tw-shadow-color: rgb(115 115 115 / 0.4);
  --tw-shadow: var(--tw-shadow-colored);
}

@media (max-width: 767px) {
  .blutui-scrollbar {
    scrollbar-gutter: auto;
  }
}
