@tailwind base;

#__next {
  min-height: 100%;
}

.blutui-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: hsla(0, 0%, 45%, .4) transparent;
  scrollbar-gutter: stable;
}

/*! purgecss start ignore */
@import 'docsearch.css';
@import 'prism.css';
/*! purgecss end ignore */

@tailwind components;
@tailwind utilities;
